<div class="main">
  <select
    name="dropdown"
    id="dropdown"
    class="dropdown"
    onchange="fillMovie(this)"
  >
  <option value="" disabled selected>Select</option>
  </select>
  <div class="content-area row">
      <div class="media-player col">
        <video width=900 height=600 controls id="video-element">
          <source src="" type="video/mp4" id="source-element"></source>
        </video>
      </div>
      <div class="sidebar col">
        <ul class="outer-list" id="outer-list">
        </ul>
      </div>
  </div>
</div>
