.col{
  display:flex;
  flex-direction:column;
}

.row{
  display:flex;
  flex-direction:row;
}

.media-player{
  height:75vh;
}

.sidebar{
  max-height:75vh;
  overflow-y:scroll;
}

li{
  list-style-type:none;
}

li:hover{
  font-weight:bold;
  cursor:pointer;
}

.torrent-buttons{
  gap:.5rem;
  width:15%;
}

.torrent-list{
  padding:.2rem .5rem .2rem .5rem;
  flex:1;
  width:100%;
  background-color:gray;
}
.torrent-add{
  margin-left:1rem;
  max-width:85%;
}
